/* Spendings.css */
.spendings-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .spendings-title {
    text-align: center;
    color: #333;
  }
  
  .frequency-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .frequency-label {
    margin-right: 10px;
  }
  
  .frequency-dropdown {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  