.container-register {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-register {
    display: flex;
    flex-direction: column;
}

.username-register-form-group,
.email-register-form-group,
.password-register-form-group {
    margin-bottom: 20px;
}

.username-register-label,
.email-register-label,
.password-register-label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.username-register-input,
.email-register-input,
.password-register-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-register-container {
    position: relative;
}

.password-eye-icon-register {
    position: absolute;
    top: 70%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.submit-register-button,
.login-register-button {
    padding: 10px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

.submit-register-button:hover,
.login-register-button:hover {
    background-color: #0056b3;
}
